In [5]:
import pandas
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [8]:
df= sns.load_dataset("penguins")
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [12]:
num_cols = df.select_dtypes('number').columns.tolist()
print(num_cols)

['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']

In [9]:
cat_cols = df.select_dtypes('object').columns
print(cat_cols.tolist)

<bound method IndexOpsMixin.tolist of Index(['species', 'island', 'sex'], dtype='object')>

In [13]:
num_imp = SimpleImputer()
cal_imp = SimpleImputer(strategy='most frequent')

In [14]:
df[num_cols] = num_imp.fit_transform(df[num_cols])
df.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
dtype: int64