In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, precision_score, recall_score, f1_score

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/digipodium/Datasets/main/classfication/blood_transfusion.csv')
df

     Recency  Frequency  Monetary  Time        Class
0          2         50     12500    98      donated
1          0         13      3250    28      donated
2          1         16      4000    35      donated
3          2         20      5000    45      donated
4          1         24      6000    77  not donated
..       ...        ...       ...   ...          ...
743       23          2       500    38  not donated
744       21          2       500    52  not donated
745       23          3       750    62  not donated
746       39          1       250    39  not donated
747       72          1       250    72  not donated

[748 rows x 5 columns]

In [4]:
print(df.isnull().sum())

Recency      0
Frequency    0
Monetary     0
Time         0
Class        0
dtype: int64

In [5]:
X= df.drop('Class', axis = 1)
y= df['Class']

In [6]:
target_enc= LabelEncoder()
yenc = target_enc.fit_transform(y)