In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import seaborn as sns
from sklearn.preprocessing import OrdinalEncoder, LabelEncoder, StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [3]:
df = sns.get_dataset_names()
df

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [4]:
df= sns.load_dataset('taxis')
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [5]:
num_cols = df.select_dtypes('number').columns.tolist()
print(num_cols)

['passengers', 'distance', 'fare', 'tip', 'tolls', 'total']

In [6]:
cat_cols = df.select_dtypes('object').columns
print(cat_cols)

Index(['color', 'payment', 'pickup_zone', 'dropoff_zone', 'pickup_borough',
       'dropoff_borough'],
      dtype='object')

In [18]:
X = df.drop("total", axis=1)
y = df["total"]

In [19]:
num_cols = X.select_dtypes(include="number").columns
cat_cols = X.select_dtypes(include="object").columns

In [ ]:
num_imputer = SimpleImputer(strategy="median")
X[num_cols] = num_imputer.fit_transform(X[num_cols])

In [20]:
cat_imputer = SimpleImputer(strategy="most_frequent")
X[cat_cols] = cat_imputer.fit_transform(X[cat_cols])

ValueError: at least one array or dtype is required

In [8]:
df[num_cols] = num.fit_transform(df[num_cols])
df.isnull().sum()

pickup              0
dropoff             0
passengers          0
distance            0
fare                0
tip                 0
tolls               0
total               0
color               0
payment            44
pickup_zone        26
dropoff_zone       45
pickup_borough     26
dropoff_borough    45
dtype: int64

In [9]:
df[cat_cols] = cal.fit_transform(df[cat_cols])
df.isnull().sum()

pickup             0
dropoff            0
passengers         0
distance           0
fare               0
tip                0
tolls              0
total              0
color              0
payment            0
pickup_zone        0
dropoff_zone       0
pickup_borough     0
dropoff_borough    0
dtype: int64

In [10]:
pay = LabelEncoder()
df['color'] = pay.fit_transform(df['color'])
pay = LabelEncoder()
df['payment'] = pay.fit_transform(df['payment'])
pay = LabelEncoder()
df['pickup_zone'] = pay.fit_transform(df['pickup_zone'])
pay = LabelEncoder()
df['dropoff_zone'] = pay.fit_transform(df['dropoff_zone'])
pay = LabelEncoder()
df['pickup_borough'] = pay.fit_transform(df['pickup_borough'])
pay = LabelEncoder()
df['dropoff_borough'] = pay.fit_transform(df['dropoff_borough'])
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1.0,1.60,7.0,2.15,0.0,12.95,1,1,99,176,2,2
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1.0,0.79,5.0,0.00,0.0,9.30,1,0,174,182,2,2
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1.0,1.37,7.5,2.36,0.0,14.16,1,1,1,190,2,2
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1.0,7.70,27.0,6.15,0.0,36.95,1,1,86,202,2,2
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3.0,2.16,9.0,1.10,0.0,13.40,1,1,116,202,2,2

In [11]:
cat_enc = OneHotEncoder(drop='first')
dummy_cols = cat_enc.fit_transform(df[cat_cols]).toarray()
dummy_cols

array([[1., 1., 0., ..., 1., 0., 0.],
       [1., 0., 0., ..., 1., 0., 0.],
       [1., 1., 1., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.]], shape=(6433, 404))

In [12]:
dummy_df = pd.DataFrame(dummy_cols)
dummy_df.head()

,0,1,2,3,4,5,6,7,8,9,...,394,395,396,397,398,399,400,401,402,403
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0

In [13]:
# Data Scaling
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,-0.448004,-0.372199,-0.527324,0.069753,-0.229849,-0.403040,1,1,99,176,2,2
1,2019-03-04 16:11:55,2019-03-04 16:19:00,-0.448004,-0.583821,-0.700471,-0.808383,-0.229849,-0.667255,1,0,174,182,2,2
2,2019-03-27 17:53:01,2019-03-27 18:00:25,-0.448004,-0.432289,-0.484038,0.155524,-0.229849,-0.315451,1,1,1,190,2,2
3,2019-03-10 01:23:59,2019-03-10 01:49:51,-0.448004,1.221502,1.204142,1.703493,-0.229849,1.334266,1,1,86,202,2,2
4,2019-03-30 13:27:42,2019-03-30 13:37:14,1.213575,-0.225892,-0.354178,-0.359104,-0.229849,-0.370465,1,1,116,202,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,-0.448004,-0.594272,-0.743757,-0.375442,-0.229849,-0.880075,0,1,52,30,2,2
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,-0.448004,4.105839,3.887914,-0.808383,-0.229849,2.915937,0,1,91,51,3,0
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,-0.448004,0.291408,0.251835,-0.808383,-0.229849,-0.088153,0,0,40,24,1,1
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,-0.448004,-0.497605,-0.613898,-0.808383,-0.229849,-0.848225,0,1,54,54,1,1
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,-0.448004,0.215642,0.165262,0.563959,-0.229849,0.118876,0,1,14,196,1,1

In [14]:
# Combining dummy df with df and removing categorical columns
df = pd.concat([df.drop(columns = cat_cols),dummy_df], axis = 1)
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,0,1,...,394,395,396,397,398,399,400,401,402,403
0,2019-03-23 20:21:09,2019-03-23 20:27:24,-0.448004,-0.372199,-0.527324,0.069753,-0.229849,-0.403040,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,2019-03-04 16:11:55,2019-03-04 16:19:00,-0.448004,-0.583821,-0.700471,-0.808383,-0.229849,-0.667255,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,2019-03-27 17:53:01,2019-03-27 18:00:25,-0.448004,-0.432289,-0.484038,0.155524,-0.229849,-0.315451,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
3,2019-03-10 01:23:59,2019-03-10 01:49:51,-0.448004,1.221502,1.204142,1.703493,-0.229849,1.334266,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,2019-03-30 13:27:42,2019-03-30 13:37:14,1.213575,-0.225892,-0.354178,-0.359104,-0.229849,-0.370465,1.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,-0.448004,-0.594272,-0.743757,-0.375442,-0.229849,-0.880075,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,-0.448004,4.105839,3.887914,-0.808383,-0.229849,2.915937,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,-0.448004,0.291408,0.251835,-0.808383,-0.229849,-0.088153,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,-0.448004,-0.497605,-0.613898,-0.808383,-0.229849,-0.848225,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,-0.448004,0.215642,0.165262,0.563959,-0.229849,0.118876,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [15]:
X = df.drop(columns=['fare'])   # features
y = df['fare']                  # target

In [16]:
# train-test split

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [17]:
reg = LinearRegression()
reg.fit(X_train, y_train)

TypeError: Feature names are only supported if all input features have string names, but your input has ['int', 'str'] as feature name / column name types. If you want feature names to be stored and validated, you must convert them all to strings, by using X.columns = X.columns.astype(str) for example. Otherwise you can remove feature / column names from your input data, or convert them all to a non-string data type.